<div class="container-fluid" *ngIf="isDesktop">
  <div *ngIf="posts">
      <ngb-carousel>
            <ng-template ngbSlide *ngFor="let i of [0,1,2,3,4]">
              <div class="hover-overlay ripple">
                <div class="wrapper">
                    <a href="" routerLink="/watch/movie/{{posts[i].id}}">
                        <img [src]="'https://image.tmdb.org/t/p/w780/' + posts[i].backdrop_path" className="img-fluid" alt="" style="align-content: center; text-align: center;"/>
                    </a>
                  <div class="overlay">
                    <p class="text">{{posts[i].title}}</p>
                  </div>
                </div>
              </div>
            </ng-template>
      </ngb-carousel>
  </div>
</div>

<div class="container-fluid" *ngIf="isMobile">
  <div *ngIf="posts">
    <ngb-carousel [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let i of [0,1,2,3,4]" >
        <div class="hover-overlay ripple">
          <div class="wrapper">
            <a href="" routerLink="/watch/movie/{{posts[i].id}}">
              <img [src]="'https://image.tmdb.org/t/p/w780/' + posts[i].backdrop_path" className="img-fluid" alt="" style="align-content: center; text-align: center;"/>
            </a>
            <div class="overlay">
            </div>
            <p class="text">{{posts[i].title}}</p>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
